<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title>Untitled</title>
</head>
<body>

<!-- ###DEFAULT### begin -->
		<ul class="st3_lang_list">
		<!-- ###LANGS### begin -->
			  <li>###LINK###</li>
		<!-- ###LANGS### end -->
		</ul>		
<!-- ###DEFAULT### end -->


<!-- ###SPAN### begin -->
		<!-- ###LANGS### begin -->
			  <span>###LINK###</span> |
		<!-- ###LANGS### end -->
<!-- ###SPAN### end -->
</body>
</html>